*, *:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 600px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: auto;
    /*border: 1px solid red;*/

}
.header{
    display:flex;
    height: 10vh;
    justify-content: space-around;
   /* margin-left: -10%;
    margin-right: -10%;*/
    /*border: 1px solid red;*/
}
.logo{
    display:flex;
    justify-content: space-between;
   
    align-items: center;
    text-align: center;

    /*border: 1px solid red;*/
}
.logo_text span{
    text-transform: uppercase;
}
.consul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}
.button{
height: 20%;
margin: 100px;
}
button{
    background-color: #fcb303;
    border-radius: 5px;

}